{#
/**
* Summary. Same as teaser, without image.
*
* List of regions: title, info, summary, tags.
*/
#}
{% set classes = [
  'summary',
] %}

{% set preview_layout %}
  <div{{ attributes.addClass(classes) }}>
    <div class="summary__content">
      <div{{ region_attributes.info.addClass('layout__region', 'layout__region--info', 'summary__info') }}>
        {{ content.info }}
      </div>
      <div{{ region_attributes.date.addClass('layout__region', 'layout__region--date', 'summary__date') }}>
        {{ content.date }}
      </div>
      <h3{{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'summary__title') }}>
        {{ content.title }}
      </h3>
      <div{{ region_attributes.summary.addClass('layout__region', 'layout__region--summary', 'summary__summary') }}>
        {{ content.summary }}
      </div>
      <div{{ region_attributes.tags.addClass('layout__region', 'layout__region--tags', 'summary__tags') }}>
        {{ content.tags }}
      </div>
    </div>
  </div>
{% endset %}

{% set render_layout %}
  <div{{ attributes.addClass(classes) }}>
    {% if content %}
      <div class="summary__content">
        {% if content.info|render|striptags|trim %}
          <div{{ region_attributes.info.addClass('layout__region', 'layout__region--info', 'summary__info') }}>
            {{ content.info }}
          </div>
        {% endif %}
        {% if content.date|render|striptags|trim %}
          <div{{ region_attributes.date.addClass('layout__region', 'layout__region--date', 'summary__date') }}>
            {{ content.date }}
          </div>
        {% endif %}
        {% if content.title|render|striptags|trim %}
          <h3{{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'summary__title') }}>
            {{ content.title }}
          </h3>
        {% endif %}
        {% if content.summary|render|striptags|trim %}
          <div{{ region_attributes.summary.addClass('layout__region', 'layout__region--summary', 'summary__summary') }}>
            {{ content.summary }}
          </div>
        {% endif %}
        {% if content.tags|render|striptags|trim %}
          <div{{ region_attributes.tags.addClass('layout__region', 'layout__region--tags', 'summary__tags') }}>
            {{ content.tags }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endset %}

{% if in_preview %}
  {{ preview_layout }}
{% else %}
  {{ render_layout }}
{% endif %}
