{#
/**
* Teaser view mode with image.
*
* List of regions: title, info, summary, tags, image.
*/
#}
{% set classes = [
  'teaser',
  'teaser--big',
] %}

{% set preview_layout %}
  <div{{ attributes.addClass(classes) }}>
    <div class="teaser__content">
      <div{{ region_attributes.info.addClass('layout__region', 'layout__region--info', 'teaser__info') }}>
        {{ content.info }}
      </div>
      <div{{ region_attributes.date.addClass('layout__region', 'layout__region--date', 'teaser__date') }}>
        {{ content.date }}
      </div>
      <h3{{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'teaser__title') }}>
        {{ content.title }}
      </h3>
      <div{{ region_attributes.summary.addClass('layout__region', 'layout__region--summary', 'teaser__summary') }}>
        {{ content.summary }}
      </div>
      <div{{ region_attributes.tags.addClass('layout__region', 'layout__region--tags', 'teaser__tags') }}>
        {{ content.tags }}
      </div>
    </div>
    <div{{ region_attributes.image.addClass('layout__region', 'layout__region--image', 'teaser__image image--decorative') }}>
      {{ content.image }}
    </div>
  </div>
{% endset %}

{% set render_layout %}
  <div{{ attributes.addClass(classes) }}>
    {% if content %}
      <div class="teaser__content">
        {% if content.info|render|striptags|trim %}
          <div{{ region_attributes.info.addClass('layout__region', 'layout__region--info', 'teaser__info') }}>
            {{ content.info }}
          </div>
        {% endif %}
        {% if content.date|render|striptags|trim %}
          <div{{ region_attributes.date.addClass('layout__region', 'layout__region--date', 'teaser__date') }}>
            {{ content.date }}
          </div>
        {% endif %}
        {% if content.title|render|striptags|trim %}
          <h3{{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'teaser__title') }}>
            {{ content.title }}
          </h3>
        {% endif %}
        {% if content.summary|render|striptags|trim %}
          <div{{ region_attributes.summary.addClass('layout__region', 'layout__region--summary', 'teaser__summary') }}>
            {{ content.summary }}
          </div>
        {% endif %}
        {% if content.tags|render|striptags|trim %}
          <div{{ region_attributes.tags.addClass('layout__region', 'layout__region--tags', 'teaser__tags') }}>
            {{ content.tags }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.image|render|striptags('<img>')|trim %}
      <div{{ region_attributes.image.addClass('layout__region', 'layout__region--image', 'teaser__image image--decorative') }}>
        {{ content.image }}
      </div>
    {% endif %}
  </div>
{% endset %}

{% if in_preview %}
  {{ preview_layout }}
{% else %}
  {{ render_layout }}
{% endif %}
