{#
/**
 * @file
 * Theme override for a field gallery-photos.
 *
 * This is a GovCMS 8 feature to support lists for components such as Node List
 * and Item List and any other list which can have the layout applied to it,
 * typically by Entity Class Formatter.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 */
#}
{%
  set classes = [
    'gallery__grid',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="list">
    {% for key, item in items %}
      <div role="listitem" {{ item.attributes.addClass('list__item').addClass('content') }}>
        {% set image = item.content['#media'].field_media_image.entity.uri.value %}
        {% if image is empty %}
          <a href="{{ item.content['#media'].field_media_oembed_video.value }}" class="gallery__link">
            <img src="{{ thumbnail_url[key]|image_style('landscape_hi') }}" alt="image">
          </a>
        {% else %}
          <a href="{{ file_url(image) }}" class="gallery__link"
            {% if not element['#object'].field_gallery_show_controls.value %}
              data-gallery="gallery-{{ loop.index }}"
            {% endif %}
             data-sizes="(max-width: 800px) 768px, 992px, 1200px, 2400px"
             data-srcset="
              {{ image|image_style('full_wide_sm') }} 768w
              {{ image|image_style('full_wide_md') }} 992w
              {{ image|image_style('full_wide_lg') }} 1200w
              {{ image|image_style('full_wide_lg_hi') }} 2400w
              ">
            {{ item.content }}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
